/* carousel css is started */
.carousel-item {
    height: 60vw;
    width: 100%;
    background-size: cover;
    max-height: 490px;
    background-position: center;
    background-position: top;
}

.carousel-caption h5 {
    font-size: 5vw;
}

.carousel-caption p {
    font-size: 2vw;
    /* font-weight: 700; */
}

.carousel-caption button {
    padding: 10px 30px;
    font-weight: 500;
    font-size: 15px;
}

.carousel-item::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #000;
    opacity: 0.5;
}

/* carousel css is ended */
/* :horizontal cards css is started */
.horizontal-image img {
    width: 100%;
    height: 100%;
}

.button {
    display: flex;
    justify-content: center;
}

.button button {
    font-weight: 500;
    font-size: 20px;
}

/* :horizontal cards css is ended */